<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="classproject.runescape" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemSearch" />
        <activity android:name=".Clans" />
        <activity android:name=".Favorites" />
        <activity android:name=".LookUpPlayer" />
        <activity android:name=".OnlineCurrently" />
        <activity android:name=".PlayerSkills" />
        <activity android:name=".Quests" />
        <activity android:name=".RecentPlayer" />
        <activity android:name=".SkillDiaries" />
        <activity android:name=".TopPlayers" />
        <activity android:name=".Tutorials" />
        <activity android:name=".sendUser" />
    </application>

</manifest>
